--declare @Show_ID uniqueidentifier = '0BF7FBA4-2803-452D-A3C2-5BB6D22DD896' -- Findon
--declare @Show_ID uniqueidentifier = '5BDD261C-B420-4830-9646-CF8C8365B1C6' -- HB Champ (Sat)
--declare @Show_ID uniqueidentifier = '87461DB2-3D66-4CC8-B2E5-2E17D511BA49' -- HB Open (Sun)
-- declare @Show_ID uniqueidentifier = 'F26737FA-7668-4141-A34B-E9524E1E71AE' -- West Suffolk 2022
declare @Show_ID uniqueidentifier = '8C45602F-2B71-4EB2-AB52-EEB2FFA2C5A0' -- West Suffolk 2023

/*
SELECT TOP 1000 [Dog_Class_ID]
      ,[Ring_No]
      ,d.Dog_KC_Name
      ,sfc.Show_Final_Class_ID
      ,Show_Final_Class_No
      ,sfc.Show_Final_Class_Description
      ,[Running_Order]
      ,[Special_Request]
  FROM [Petersfield_2024].[dbo].[tblDog_Classes] dc
  inner join [Petersfield_2024].[dbo].[tblShow_Final_Classes] sfc
  on dc.Show_Final_Class_ID = sfc.Show_Final_Class_ID
  and dc.Deleted_By is null
  and sfc.Deleted_By is null
  inner join [Petersfield_2024].[dbo].[tblDogs] d
  on dc.Dog_ID = d.Dog_ID
inner join
(select @Show_ID as Show_ID
Union ALL
select Child_Show_ID as Show_ID
from [Petersfield_2024].[dbo].[lnkLinked_Shows] ls
where Parent_Show_ID = @Show_ID) sl
on sfc.Show_ID = sl.Show_ID
  --where Ring_No = 61
*/  
  /****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Dog_Class_ID]
      ,[Ring_No]
      ,d.Dog_KC_Name
      ,sfc.Show_Final_Class_ID
      ,Show_Final_Class_No
      ,sfc.Show_Final_Class_Description
      ,[Running_Order]
      ,[Special_Request]
  FROM [dbo].[tblDog_Classes] dc
  inner join [dbo].[tblShow_Final_Classes] sfc
  on dc.Show_Final_Class_ID = sfc.Show_Final_Class_ID
  and dc.Deleted_By is null
  and sfc.Deleted_By is null
  inner join [dbo].[tblDogs] d
  on dc.Dog_ID = d.Dog_ID
inner join
(select @Show_ID as Show_ID
Union ALL
select Child_Show_ID as Show_ID
from [dbo].[lnkLinked_Shows] ls
where Parent_Show_ID = @Show_ID) sl
on sfc.Show_ID = sl.Show_ID
--where sfc.Show_Final_Class_No = 6
--order by Dog_KC_Name 

/*

update [sss].[dbo].[tblDog_Classes]
set Show_Final_Class_ID = '26A2B732-5E76-414B-A62E-775DDDB2C9C9' where Dog_Class_ID = '6136899A-61DD-4D74-A6CF-2B68FE9C70B7'

update [sss].[dbo].[tblDog_Classes]
set Show_Final_Class_ID = 'C3CE86E0-F818-4C9F-A9D6-0907AB46CCFB' where Dog_Class_ID = 'F28C0EBC-AD40-4F46-9B95-66BF9B7E2483'



*/
