--declare @Show_ID uniqueidentifier = '0BF7FBA4-2803-452D-A3C2-5BB6D22DD896' -- Findon
--declare @Show_ID uniqueidentifier = 'DBF00179-04B2-442D-9D0D-2461F872EAFB' -- HB Champ (Sat)
--declare @Show_ID uniqueidentifier = '87461DB2-3D66-4CC8-B2E5-2E17D511BA49' -- HB Open (Sun)
--declare @Show_ID uniqueidentifier = '5BDD261C-B420-4830-9646-CF8C8365B1C6' -- Petersfield 2016
declare @Show_ID uniqueidentifier = 'F26737FA-7668-4141-A34B-E9524E1E71AE' -- West Suffolk 2022

SELECT
	distinct
	ISNULL(NULLIF(ISNULL(NULLIF(p.Person_Title,'') + ' ', '')
	+ ISNULL(NULLIF(p.Person_Forename,'') + ' ', '')
	+ ISNULL(NULLIF(p.Person_Surname,''),''),''),'Unknown') as [Owner]
	,ISNULL(NULLIF(a.Address_1,'') + ',', '')
	+ ISNULL(NULLIF(a.Address_2,'') + ',', '')
	+ ISNULL(NULLIF(a.Address_Town,'') + ',', '')
	+ ISNULL(NULLIF(a.Address_City,'') + ',', '')
	+ ISNULL(NULLIF(a.Address_County,'') + ',', '')
	+ ISNULL(NULLIF(a.Address_Postcode,'') + '', '')
	as [Address]
	,CASE
	WHEN Show_Final_Class_Description Like '%champ%' 
	THEN 'Ticket'
	ELSE ''
	END as Ticket
  FROM [tblDog_Classes] dc
  inner join [tblEntrants] e
  on dc.Entrant_ID = e.Entrant_ID
  and dc.Deleted_By is null
  and e.Deleted_By is null
  and NULLIF(e.Send_Running_Order,'') is not null
  inner join [tblShow_Final_Classes] sfc
  on dc.Show_Final_Class_ID = sfc.Show_Final_Class_ID
  and dc.Deleted_By is null
  and sfc.Deleted_By is null
  inner join [tblDogs] d
  on dc.Dog_ID=d.Dog_ID
  inner join (
  Select Dog_ID
		,Owner_ID
		,ROW_NUMBER() over(partition by Dog_ID order by Dog_ID) as seq
  FROM [lnkDog_Owners]
  ) do
  on d.Dog_ID = do.Dog_ID
  and do.seq=1
  INNER JOIN [tblPeople] p
  on do.Owner_ID = p.Person_ID
  and NULLIF(p.Person_Email,'') is null
  INNER JOIN [tblAddresses] a
  on p.Address_ID = a.Address_ID

INNER JOIN 
(SELECT @Show_ID AS Show_ID
UNION ALL
SELECT Child_Show_ID AS Show_ID
FROM [lnkLinked_Shows] ls
WHERE Deleted_By IS NULL 
AND Parent_Show_ID = @Show_ID) sl
ON e.Show_ID = sl.Show_ID
  where NULLIF(Running_Order,'') is not null
  order by [Owner]