<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <connectionStrings>
      <!--<add name="SSSDBConnDev" connectionString="Data Source=RAINMAN;Initial Catalog=Petersfield_2024;Persist Security Info=True;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>-->
      <add name="SSSDBConnDev" connectionString="Data Source=RAINMAN;Initial Catalog=WSuffolk_2024;Persist Security Info=True;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>
