<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <appSettings>
    <add key="GridItemsPerPage" value="10" />
  </appSettings>
  <connectionStrings>
    <!--
    <add name="SSSDbConnDev" connectionString="Server=192.168.1.7; Database=sussexsoftwaresolutions; User Id=sussexsoftwaresolutions; password=Dazzer67" providerName="System.Data.SqlClient"/>
    -->
    <add name="SSSDbConnDev" connectionString="Server=sssserver01\exp_2017; Database=dsm_2018; User Id=sa; password=sss" providerName="System.Data.SqlClient" />
    <add name="SSSDbConnLive" connectionString="Server=213.171.193.55; Database=sussexsoftwaresolutions; User Id=sussexsoftwaresolutions; password=Dazzer67" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <membership defaultProvider="SSSDogShowsSqlMembershipProvider">
      <providers>
        <clear />
        <add name="SSSDogShowsSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SSSDbConnDev" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="SSSDogShowManager" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <compilation debug="true" targetFramework="4.0" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms slidingExpiration="true" timeout="60" />
    </authentication>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <!--
      decryptionKey and validationKey values obtained from: https://www.grc.com/passwords.htm
      -->
    <machineKey decryption="AES" validation="SHA1" decryptionKey="A0728E7A85286E5B18ED27C99AE3E41A14B22FE503B8D115D89A474226882F99" validationKey="2380BE9321D79FD912A2C0C3C5242C7AEAEFFA16E15F48ED0F95D7CA67954513" />
    <roleManager enabled="true" defaultProvider="SSSDogShowsSqlRoleProvider" cacheRolesInCookie="true" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <add name="SSSDogShowsSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" applicationName="SSSDogShowManager" connectionStringName="SSSDbConnDev" />
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>